{%extends 'indice/index.html' %}
    
{% block title %}
<title>About me</title>
{% endblock title %}

{% block header %}

    <div class="fondoAboutme">
        <h1 class="title">
              Acerca de mí
        <h1>
            <div class="container container-font">
                <div>
                    <p>Mi nombre es Florencia</p>
                    <img class="me-photo" src="../../static/assets/img/me.jpg" alt="me"></> 
                </div>
                <div>
                    <p>Mi color favorito es el <span>rojo</span>.</p>
                    <img  class="imgCard" src="../../static/assets/img/lapiz.png" alt="pencil"></>
                </div>
                <div>
                    <img class="dog" src="../../static/assets/img/tommy.jpeg" alt="dog"></>
                    <p>El nombre de mi perro es Tommy.</p>
                </div>
                <div>
                    <p>Esta es Loli, una gatita que rescaté en 20202, es una luchadora que estuvo 73 dias internada.</p>
                    <img class="cat" src="../../static/assets/img/loli.jpeg" alt="cat"></>
                </div>
            </div>
            <div class="walker">
                <p>Soy adiestradora y paseadora de perros , te muestro a mi manada.</p>
                <video controls autoplay loop muted  class="video">
                    <source class="source" src="../../static/assets/img/dogs.mp4" type="video/mp4"> 
                </video>
            </div>
            <div class="study">
                
               <p>Estudio programación en Coder House.</p>
              <p>Me animé en 2021 a estudiar programación para darle un giro a mi vida. 
                  Descubrí un mundo nuevo donde la creación no tiene límites.</p>
              <p>  Este Blog es creado para subir fotos con tus mascotas , 
                  los perros son seres sociables y un patio con parque no es suficiente
                    ellos también necesitan interactuar, y que mejor que encontrar algunos amigos por 
                    este blog para que puedan juntarse a jugar.</p>
            </div>
    </div>

{% endblock header %}

