{%extends 'indice/index.html' %}

{% block title %}
<title>Blog detalle</title>
{% endblock title %}


{% block header %}

     <p class="urlVolver ">
        <a href= {% url 'blogs' %}>Volver a todos los posteos</a>    
    </p>
    <div class="container-post">
        <div class="container-card">
            <div class="card" style="width: 50rem;">
                <div class="card-body">
                    <img src="{{object.image.url}}" class="card-img-top"  alt="IMAGEN">
                    <h1 class="card-title letraBlog">{{object.titulo}}</h1>
                    <h3 class="card-title letraBlog"> {{object.subtitulo}}</h3>
                    <h6 class="card-title letraBlog"> Mi mascota protagonista : {{object.mascota}} </h6>
                    <h5 class="card-title letraBlog"> Mi historia</h5>
                    <h6 class="card-title letraBlog"> {{object.texto}}</h6>
             
                 </div>
            </div>
        </div>
    </div>
{% endblock header %}