{%extends 'indice/index.html' %}

{% block title %}
<title>Form</title>
{% endblock title %}


{% block header %}

     <div class="container">
        <form action=" {%url 'formulario'%}" method="post">
            {% csrf_token %}
            {% comment %} <div class="mb-3">
                <label  class="form-label">Name</label>
                <input type="text" class="form-control" name="nombre" >
            </div>
            <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" name="apellido">
            </div>
            <div class="mb-3">
                <label class="form-label">E-mail</label>
                <input type="email" aria-describedby="emailHelp" class="form-control" name="email">
            </div> {% endcomment %}
            <table>
                {{formulario.as_table}}
            </table>
       
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
{% endblock header %}