{%extends 'indice/index.html' %}

{% block title %}
<title>Usuarios</title>
{% endblock title %}


{% block header %}
  {% if request.user.is_authenticated %}
    <a href= {%url 'crear_usuario'%}>Crear Usuario</a>
  {% endif %}
        {% for usuario in listado_usuarios %}
            <li>
                Nombre completo: {{usuario.nombre}} {{usuario.apellido}}

                {% if request.user.is_authenticated %}
                   <a href= {% url 'actualizar_usuario' usuario.id %}>Editar</a>     
                   <a href= {% url 'borrar_usuario' usuario.id %}>Borrar</a>     
               {% endif %}
                
            </li>
        {% endfor %}
   


{% endblock header %}