{%extends 'indice/index.html' %}

{% block title %}
<title>Usuarios</title>
{% endblock title %}


{% block header %}

  <a href= {%url 'crear_usuario'%}>Crear Usuario</a>
 
        {% for usuario in listado_usuarios %}
            <li>
                {{usuario}}
               <a href= {% url 'actualizar_usuario' usuario.id %}>Editar</a>     
               <a href= {% url 'borrar_usuario' usuario.id %}>Borrar</a>     
               
                
            </li>
        {% endfor %}
   


{% endblock header %}