{%extends 'indice/index.html' %}

{% block title %}
<title>Crear Blog</title>
{% endblock title %}


{% block header %}

  <p class="urlVolver ">
    <a href= {% url 'blogs' %}>Volver a todos los posteos</a>    
  </p> 
  <div class="container-post">
      <div class="container-card">
        <div class="card" >
              <form  method="post" class="form_editar" enctype="multipart/form-data">
                <p>Formato de fecha:AÑO-MES-DIA</p>
                    {% csrf_token %}
                    {{form.as_p}}
                    {{form.media}}
                  <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
        </div>
    </div>
 </div>
  
       
     
{% endblock header %}